{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <body class="bg-gray-300 h-screen font-semibold ">
        <header class="sticky top-0 z-50">
            <div class="w-full flex justify-between py-3 bg-gray-800">
                <div class="w-1/3 text-green-700 px-3">
                    <a class="px-3" href="#">Délice de Cuisine</a>
                </div>
                <div class="bg-white  border-2 border-white rounded">
                    <form action="" method="GET">
                        <label class="p-1 font-light">
                            <input type="text" placeholder="Rechercher une recette">
                        </label>
                        <button class="px-1"><i class="fa fa-magnifying-glass"></i></button>
                    </form>
                </div>
                <div class="w-1/3 flex justify-end text-green-700 px-3">
                    {% if not is_granted('ROLE_USER')%}
                        <a class="px-3" href="{{ path('app_login') }}">Connexion</a>
                        <a class="px-3" href="{{ path('app_register') }}">Register</a>
                    {% else %}
                        <a class="px-3" href="#">{{ user }}</a>
                        <a class="px-3" href="{{ path('app_logout') }}">Deconnexion</a>
                    {% endif %}
                </div>
            </div>
        </header>

        <main class="relative h-full">
            <section class=" h-1/4 flex align-middle">
                <p class="m-auto text-3xl text-green-700">Bienvenue sur mon blog recette {{ user }}</p>
            </section>

            <section class="h-2/4 ">
                <div class="container h-full">
                    <p class="text-2xl text-green-700">Les dernières recettes</p>
                </div>
            </section>
        </main>
    </body>

{% endblock %}
