{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}
    <body class=" h-screen font-semibold " style="background-color: rgb(251,244,232)">
        {{ include('base/index.html.twig')}}
            <h1>Recette</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ recette.id }}</td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td>{{ recette.Name }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ recette.Description }}</td>
                    </tr>
                    <tr>
                        <th>Time</th>
                        <td>{{ recette.Time ? recette.Time|date('H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>CreatedAt</th>
                        <td>{{ recette.createdAt ? recette.createdAt|date('H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th>File</th>
                        <td>{{ recette.file }}</td>
                    </tr>
                    <tr>
                        <th>Prix</th>
                        <td>{{ recette.prix }}</td>
                    </tr>
                </tbody>
            </table>
    </body>

{% endblock %}
