{% extends 'base.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}
    <body class=" h-screen font-semibold " style="background-color: rgb(251,244,232)">
    {{ include('base/index.html.twig')}}
        <main class="  h-full w-full ">
            <div class="w-4/5 h-full m-auto mt-4">
                <section class="container m-auto h-4/5 p-4 shadow-xl">
                    <h1 class="text-4xl text-center font-bold text-gray-800 pb-4">{{ recette.name }}</h1>
                    <div class="flex flex-col w-full h-full">
                        <span class="w-2/3 h-1/2 bg-cover bg-center rounded-t m-auto" style="background-image: url({{ vich_uploader_asset(recette, recette.imageFile) }})"></span>
                            <div class="w-full h-1/2 flex flex-col ">
                                <p class="m-auto">{{ recette.description }}</p>
                                <p class="m-auto">{{ recette.toStringTime }} H</p>
                            </div>
                    </div>
                </section>
                <section class="mt-4 flex flex-col ">
                    <div class="w-full flex flex-col border border-black">
                        <div class="">
                            {{ include('commentaire/_form.html.twig') }}
                        </div>
                    </div>
                    <div>
                        {% for each in commentaires %}
                        <p>{{ each.user.username }}</p>
                        <p>{{ each.contenue }}</p>
                        <p>{{ each.note }}</p>
                        <p>{{ each.createdAt.format('Y/m/d H:i:s') }}</p>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </main>
        {{ include('base/footer.html.twig')}}
    </body>

{% endblock %}
