{% form_theme form 'bootstrap_5_layout.html.twig' %}

{{ form_start(form) }}
    <div class="flex flex-col">
        {{ form_row(form.email, {'name': 'Email :'}) }}
        {{ form_row(form.username, {'name': 'Identifiant :'}) }}

        <button class="btn">{{ button_label|default('Save') }}</button>
    </div>
{{ form_end(form) }}
