{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <body class=" h-screen font-semibold " style="background-color: rgb(251,244,232)">
    {{ include('base/index.html.twig')}}
        <main class="  h-full w-full">
            <h1>User</h1>

            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Roles</th>
                        <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td>{{ user.password }}</td>
                    </tr>
                    <tr>
                        <th>IsVerified</th>
                        <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
                    </tr>
                    <tr>
                        <th>Username</th>
                        <td>{{ user.Username }}</td>
                    </tr>
                </tbody>
            </table>
        </main>
    </body>
{% endblock %}
